# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
envs/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Notebooks
.ipynb_checkpoints/

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Entorno
.env